<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/Kisetsu15/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="Kisetsu15" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
